body {
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none;
}

#top-photo-box {
  background: url(../img/photo/img1_alt.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.tagline {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 150%;
}

.aboutme-down p {
  margin: 0;
}

.aboutme-down img {
  height: 50px;
  width: 50px;
}

.aboutme-down {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 120%;
}

.aboutme-content {
  padding-top: 2em;
}

#profile-pic {
  height: 150px;
  width: 150px;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  float: none;
  display: block;
}

#aboutme {
  padding: 1.5em;
  font-size: 95%;
  line-height: 2em;;
}

#software-box {
  background-color: #282828;
  color: white;
  padding: 1.5em;
}

.box-title {
  text-align: center;
}

.software-panel {
  padding: 2.5em 0;
}

.panel-header {
  font-size: 210%;
  text-align: center;
}

.notable-project {
  color: #c6c6cc;
}

.np-link {
  color: #c6c6cc;
  text-decoration: underline;
}

.np-link:hover {
  color: #c6c6cc;
  text-decoration: underline;
}

.panel-button-container {
  text-align: center;
  margin: 0 auto;
}

#github-button {
  color: white;
  background-color: #282828;
  padding: 1em 1em;
  border:1px solid white;
  border-radius: 6px;
  transition: background-color .3s;
  text-decoration: none;
}

#freelance-box {
  text-align: center;
  background-color: #282828;
  color: white;
  padding: 1.5em;
}

#freelance-box > p {
  margin: 3em 0;
  font-size: 130%;
  text-align: center;
}

#contact-button {
  color: white;
  background-color: #282828;
  padding: 1em 1em;
  border:1px solid white;
  border-radius: 6px;
  transition: background-color .3s;
  text-decoration: none;
}

@media only screen and (min-width : 768px) {
  .tagline {
    font-size: 200%;
    top: 50%;
  }

  .aboutme-down {
    font-size: 160%;
  }

  .aboutme-down img {
    height: 80px;
    width: 80px;
  }

  .aboutme-content {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  #profile-pic {
    height: 225px;
    width: 225px;
    max-width: 300px;
    max-height: 300px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    margin-right: 2em;
  }

  #aboutme {
    font-size: 100%;
    line-height: 2em;
    width: 800px;
  }

  #software-box {
    text-align: left;
  }

  .box-title {
    padding-top: 1em;
    margin-left: 3em;
    text-align: left;
  }

  .software-panels-container {
    padding: 3em 10em;
  }

  .software-panel {
    padding: 0 2em;
    font-size: 120%;
    line-height: 1.5;
    text-align: left;
  }

  .panel-header {
    text-align: left;
  }

  .panel-button-container {
    margin-top: 5em;
  }
}
