body {
  font-family: 'Montserrat', sans-serif !important;
}

#top-photo-box {
  background: url(../img/photo/img1_alt.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
