.default-footer {
  background-color: #282828;
  color: white;
}

.footer-content-container {
  margin: 0 10em;
  padding: 3em 0 1.5em 0;
  text-align: center;
}

.footer-email-preface {
  font-size: 110%;
}

.footer-email {
  font-size: 110%;
  color: white;
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding-bottom: .05em;
}

.footer-socials-container {
  margin-top: 2em;
}

.footer-social {
  height: 45px;
  width: 45px;
  margin: 0 0.2em;
}
