#store-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.store-header-element {
  padding: 0 1em;
  margin: 0;
}

.store-header-separator {
  font-size: 150%;
  margin: 0;
}

#store-body-container {
  margin: 0 -10em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.side-arrow {
  height: 75px;
  width: 75px;
}

#right-arrow {
  transform: rotate(180deg);
}

#store-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  overflow: hidden;
}

.store-item {
  text-align: center;
  min-height: 300px;
  min-width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-preview {
  box-shadow: 2px 2px 1px grey;
}

.item-details {
  padding-top: 10px;
}

.item-details p {
  margin: 0;
}

.item-title {
  font-size: 110%;
}

.item-price {
  padding-top: 10px;
}
