#print-store-container {
  margin-top: 5em;
}

#store-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.store-header-element {
  padding: 0 1em;
  margin: 0;
}

.store-header-separator {
  font-size: 150%;
  margin: 0;
}

#store-body-container {
  margin: 0 -10em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.side-arrow {
  height: 75px;
  width: 75px;
}

#right-arrow {
  transform: rotate(180deg);
}

#store-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.store-item {
  padding: 0 3em;
  text-align: center;
}

.item-preview {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
