html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

#navbar {
  padding: 1.5em 10em 3em 10em;
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 5;
}

#navbar-name {
  float: left;
  display: block;
  text-align: center;
  margin: none;
  text-decoration: none;
  font-size: 130%;
}

#navbar-links {
  flex-grow: 2;
  margin-left: 5em;
}

#navbar-links a {
  padding: 0 1em;
  float: left;
}

.navbar-link {
  font-size:115%;
  float: left;
  color: white;
}

#contact-navbar {
  float: right
}

#top-photo-box {
  float: left;
  text-align: center;
  z-index: -1;
  color: white;
}

#top-photo {
  height: 100vh;
  width: 100%;
}

#photo-box-content {
  left:50%;
  top:55%;
  -webkit-transform: translate(-50%, -50%);   -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

#tagline {
  font-size: 200%;
  padding-top: 5em;
}

#aboutme-down-box {
  padding: 3em 0 1em 0;
}
